*
    padding: 0
    margin: 0

body
    font-family: 'Kumbh Sans', sans-serif

.flex
    display: flex

.font-bold
    font-weight: 700
    font-size: 18px

.font-light
    font-weight: 400    
    font-size: 12px 
    color: hsl(0, 0%, 59%)   
    
.container
    background: hsl(185, 75%, 39%)
    position: relative
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    overflow: hidden

.card
    background: #ffffff     
    display: flex
    flex-direction: column
    width: 100%
    max-width: 300px
    position: relative
    border-radius: 10px
    align-items: center
    overflow-x: hidden
    z-index: 3;

.card .background
    align-self: flex-start
    border-radius: 10px 10px 0 0
    width: 100%

.card .details
    position: relative
    top: -20px
    display: flex    
    width: 100%
    align-items: center
    flex-direction: column

.card .user-image
    width: (300/4)*1px
    border-radius: 50%
    border: solid 4px #ffffff
    position: relative
    top: -20px

.card .main-det
    margin-bottom: 10px

.card .social-dets
    justify-content: space-evenly
    width: 100%
    padding-top: 20px
    margin-top: 20px
    border-top: solid 1px hsl(0, 0%, 90%)

.card .det
    display: flex
    flex-direction: column
    align-items: center

.card .age
    font-size: 18px
    color: hsl(0, 0%, 59%)
    padding-left: 10px

.card .det .font-bold
    padding-bottom: 5px    

.circle
    position: absolute
    z-index: 2

    
.top-circle
    top: -30vw
    left: -70vh

.bottom-circle
    top: 40%
    left: 40%
    

.attribution
    justify-self: flex-end
    font-size: 11px 
    text-align: center

.attribution a
    color: #f6f6f6 